
<div layout="row">
  <div  layout-align="center center">
    <md-input-container style=" margin : 0px">
    <md-select placeholder="Origin" ng-model="fSC.city1"  style="min-width: 200px;">
      <md-option ng-value="city" ng-repeat="city in fSC.cities">{{city}}</md-option>
    </md-select>
  </md-input-container>

  </div>

  <div layout-align="center center">
    <md-input-container style=" margin : 0px">
    <md-select placeholder="Destination" ng-model="fSC.city2"  style="min-width: 200px;">
      <md-option ng-value="city" ng-repeat="city in fSC.cities">{{city}}</md-option>
    </md-select>
    </md-input-container>

  </div>
</div
