
<div layout="row">
  <div  layout-align="center center">
    <md-select placeholder="Origin" ng-model="fSC.city1" md-on-open="fSC.loadCities()" style="min-width: 200px;">
      <md-option ng-value="city" ng-repeat="city in fSC.cities">{{fSC.city1}}</md-option>
    </md-select>

  </div>
  <div layout-align="center center">
    <md-select placeholder="Destination" ng-model="fSC.city2" md-on-open="fSC.loadCities()" style="min-width: 200px;">
      <md-option ng-value="city" ng-repeat="city in fSC.cities">{{fSC.city2}}</md-option>
    </md-select>

  </div>
</div
