
<div layout="column">
  <br>
{{sFLC.itineraries!="a"?(sFLC.itineraries.length>0?"Potential Routes":"No Routes Avalible"):"Not a valid search"}}
<br></br>
<div ng-repeat="flights in sFLC.itineraries">
{{flights.flights!==undefined?  ("Option "+($index+1)):""}}
  <br></br>
  <div ng-if="flights.flights!==undefined" layout= "row">
<div layout="column" flex="75" ng-repeat="flight in flights.flights">
  <p style=" margin : 0px">{{flights.flights.length>1?"Step #"+($index+1)+" leaves from "+flight.origin+" to "+flight.destination+" at "+(flight.offset +8 > 12 ?flight.offset -4:flight.offset +8)+" "+(flight.offset +8 > 11 ?"pm":"am")+" and will fly for "+flight.flightTime+" "+(flight.flightTime>1?"hours":"hour")+" ":
  "Direct flight from "+flight.origin+" to "+flight.destination+" at "+(flight.offset +8 > 12?flight.offset -4:flight.offset +8)+" "+(flight.offset +8 > 11 ?"pm":"am")+" and will fly for "+flight.flightTime+" "+(flight.flightTime>1?"hours":"hour")}}</p>
<br></br>
</div>
<pre flex="20"ng-style="{'color':sFLC.colors[$index]}"><span style="font-size: 30px">-----> </span></pre>
</div>
<div ng-if ="flights.flights!==undefined" layout="row">
  <md-button ng-click="sFLC.bookItinerary(sFLC.itineraries[$index])">
    Book Now
  </md-button>

  <md-button ng-if="sFLC.details!==$index" ng-click="sFLC.examineItinerary($index)">
    Details
  </md-button>
  <md-button ng-if="sFLC.details===$index" ng-click="sFLC.resume()">
    Return
  </md-button>
  <br></br>
</div>

</div>
</div>
