<div ng-cloak>
<div layout="column" >
  <md-toolbar>

    <div class="md-toolbar-tools">
      <span>Guest Flight Registration System</span>

      <!-- fill up the space between left and right area -->
      <span flex></span>




      <md-menu  md-position-mode="target-right target" md-offset="0, 72">
      <md-button md-menu-origin ng-click="hC.toggleLogin($mdOpenMenu, $event)">
        {{hC.ButtonLogin}}
      </md-button>
      <md-menu-content layout="column">

        <md-menu-item>
            <p  md-menu-align-target> {{hC.LoginMessage}} </p>
        </md-menu-item>
        <div layout="row">
         <md-menu-item>
           <md-input-container>
             <label>Username</label>
             <input type="text" ng-model="hC.user.username" required md-maxlength="10">

           </md-input-container>
         </md-menu-item>
         <md-menu-item>
             <md-input-container>
            <label>Password</label>
              <input type="text" ng-model="hC.user.password" required md-maxlength="10">

            </md-input-container>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="hC.login()">
              Login
            </md-button>
          </md-menu-item>
        </div>
      </md-menu-content>
    </md-menu>
  </div>
  </md-toolbar>
  </div>



<div layout="row" layout-fill style="min-height: 224px" >
  <div>
    <pre>  <pre>
  </div>
<div flex="20" >
<div ng-if="hC.notLoggedIn" layout="column">
<h1>New User?</h1>
<br>
<md-input-container >
  <label >Username</label>
  <input type="text" ng-model="hC.user1.username" >

</md-input-container>
<md-input-container>
<label>Password</label>
 <input type="text" ng-model="hC.user1.password" >

</md-input-container>
<md-button  ng-click="hC.newUser()">
  Create Account
</md-button>
</div>
<div ng-if="!hC.notLoggedIn">
  <h2>Welcome!</h2>
<user-profile></user-profile>
</div>
</div>
<div>
  <pre>  <pre>
</div>
<div flex="30" >
  <div ng-if="!hC.notLoggedIn&&!hC.details">
    <h2 >Book Your Flight Today</h2>
  <flight-search></flight-search>
</div>
<div ng-if="hC.noSearchInput&&!hC.details">
  <h2 ng-if="hC.notLoggedIn"><pre> </pre></h2>
  <current-flight-list></current-flight-list>
</div>
  <div ng-if="!hC.noSearchInput&&!hC.details">

  <searched-flight-list ng-if="!hC.notLoggedIn"  ></searched-flight-list>
</div>
<div ng-if="hC.details">
<detail-itinerary ></detail-itinerary>
</div>
  </div>
  <div>
    <pre> <pre>
  </div>

<div flex="50">
  <h2>{{hC.mapState}}</h2>
<flight-map ></flight-map>

</div>
<div>
  <pre> <pre>
</div>
</div>
</div>
