<div ng-cloak>
<div layout="column" >
  <md-toolbar>

    <div class="md-toolbar-tools">
      <span>Guest Flight Registration System</span>

      <!-- fill up the space between left and right area -->
      <span flex></span>




      <md-menu  md-position-mode="target-right target" md-offset="0, 72">
      <md-button md-menu-origin ng-click="hC.toggleLogin($mdOpenMenu, $event)">
        {{ButtonLogin}}
      </md-button>
      <md-menu-content layout="column">

        <md-menu-item>
            <p  md-menu-align-target> {{LoginMessage}} </p>
        </md-menu-item>
        <div layout="row">
         <md-menu-item>
           <md-input-container>
             <label>Username</label>
             <input type="text" ng-model="user.username" required md-maxlength="10">

           </md-input-container>
         </md-menu-item>
         <md-menu-item>
             <md-input-container>
            <label>Password</label>
              <input type="text" ng-model="user.password" required md-maxlength="10">

            </md-input-container>
          </md-menu-item>
          <md-menu-item>
            <md-button md-prevent-menu-close ng-click="hC.login()">
              Login
            </md-button>
          </md-menu-item>
        </div>
        <md-menu-item>
        <p ng-if="showError" >{{ErrorMessage}}</p>
      </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
  </md-toolbar>
  </div>



<div layout="row" layout-fill style="min-height: 224px" >
<div flex="25" >
<div ng-if="state.notLoggedIn"></div>
<h1>New User?</h1>
<br>
<md-input-container>
  <label>Username</label>
  <input type="text" ng-model="user1.username" required md-maxlength="10">

</md-input-container>
<md-input-container>
<label>Password</label>
 <input type="text" ng-model="user1.password" required md-maxlength="10">

</md-input-container>
<md-button  ng-click="hC.newUser()">
  Create Account
</md-button>
</div>
<div flex="25" >
  <search-bar ng-if="!state.notLoggedIn"></search-bar>

  <current-flight-list ng-if="state.noSearchInput"></current-flight-list>
  <searched-flight-list  ng-if="!state.noSearchInput"></searched-flight-list>
  </div>


<div flex="50">
<flight-map ></flight-map>
</div>
</div>

</div>
